.usos__main {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
}

div {
  transition: background 0.2s linear;
}

body.dark {
  background-color: #110e0e;
}

.dark p {
  color: rgb(255, 255, 255);
}

.dark div {
  background-color: #111010;
}

.dark a {
  color: var(--vermelho);
}

.dark i {
  color: rgb(255, 255, 255);
}

.dark h1 {
  color: rgb(255, 255, 255);
}

.dark h4 {
  color: var(--vermelho);
}

.usos__titulo {
  font-family: "Space Grotesk", sans-serif;
  color: var(--vermelho);
  font-size: 1.8em;
  font-weight: 600;
}

.usos__texto {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.usos__link {
  color: var(--vermelho);
  font-weight: 600;
}

.usos__subtitulo {
  font-family: "Space Grotesk", sans-serif;
  color: var(--vermelho);
  font-size: 1.2em;
  font-weight: 600;
}

.usos__lista__item {
  color: var(--vermelho);
}

.lista__item__texto,
.usos__lista__texto {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: black;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #7a7575;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.fa-moon {
  color: #ffffff;
}

.fa-sun {
  color: #ffffff;
}

.ball {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  position: absolute;

  border-radius: 50%;
  transition: transform 0.1s linear;
}

.dark-mode {
  display: flex;
  margin-top: 2em;
  margin-left: -0.1em;
}

#checkbox {
  opacity: 0;
  position: absolute;
}

#checkbox:checked + .label .ball {
  transform: translateX(30px);
}

.kaomoji {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5em;
}
